.gallery-page__main {
    overflow: hidden;
}


.arrow-prev {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    align-items: center;
    display: flex;
}
.arrow-next {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 5;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.slider {
    height: 30vh;
    position: relative;
}
.slider__label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}
.slider__label:first-of-type {
    transform: translate(-50px, -50%);
}
.slider__label:last-of-type {
    transform: translate(30px, -50%);
}
.slider__label::before {
    display: none;
    content: "";
    width: 5px;
    height: 5px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
input[type="radio"] {
    display: none;
}


.slider__list {
    width: auto;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-wrap: nowrap;
    display: flex;
}
/* @keyframes move {
    0%, 20% {
        left: 0;
    }
    40%, 60% {
        left: -100vw;
    }
    80%, 100% {
        left: -200vw;
    }
} */
.slider__item {
    position: absolute;
    max-width: 100vw;
    min-width: 100vw;
    height: 100%;
    overflow: hidden;
    /* transition: all 5s ease-in-out; */
    animation-name: slide;
    animation-duration: 15s;
    animation-delay: 0;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    opacity: 0;
    /* animation: move 10s infinite ease-in-out;  */
}
/* @keyframes itemOne {
    0%,20% {
        opacity: 1;
        z-index: 9999;
    }
    80%, 100% {
        opacity: 0;
        z-index: 0;
    }
}
@keyframes itemTwo {
    0%,20% {
        opacity: 1;
        z-index: 9999;
    }
    80%, 100% {
        opacity: 0;
        z-index: 0;
    }
}
@keyframes itemThree {
    0%,20% {
        opacity: 1;
        z-index: 9999;
    }
    80%, 100% {
        opacity: 0;
        z-index: 0;
    }
} */

@keyframes slide {
    0%{
        opacity: 0;
        /* z-index: 999; */
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    /* 80% {
        opacity: 1;
        z-index: 999;
      }
    80.1%, 100% {
        opacity: 0;
        z-index: 0;
      } */
}
.item-one {
    /* animation: itemOne 5s infinite ease-in-out; */
    
}
.item-two {
    /* animation: itemTwo 5s infinite ease-in-out; */
    /* opacity: 0; */
    animation-delay: 5s;
}
.item-three {
    animation-delay: 10s;
    /* opacity: 0; */
}
/* .slider__item:hover {
    animation-play-state: paused;
} */
input[id="first"]:checked ~ .slider__list .item-one {
    /* left: 0; */
    opacity: 1;
}
input[id="second"]:checked ~ .slider__list .item-two {
    /* left: 100vw; */
    opacity: 1;
}
input[id="third"]:checked ~ .slider__list .item-three {
    /* left: 200vw; */
    opacity: 1;
}
/* input[id="first"]:checked + .slider__label::before{
    display: block;
}
input[id="second"]:checked + .slider__label::before{
    display: block;
}
input[id="third"]:checked + .slider__label::before{
    display: block;
} */

input:checked + .slider__label::before {
    display: block;
}
.slider__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}
.slider__img, .slider__desc {
    /* width: 50%; */
    height: 100%;
}
.slider__img-container {
    /* background-color:#77EEFE; */
    background-color: #23292E;
    /* background-color: #fff; */
    /* 23292E */
    width: calc(1000px + 50vw);
    margin-left: -1000px;
    transform: skew(-50deg);
}
.slider__img {
    transform: skew(50deg);
    
    /* background-blend-mode: overlay; */
    background-size: 47%;
    background-repeat: no-repeat;
    background-position: 39% 50%;
    margin-left: 1000px;
}
.slider__img--one {
    background-image: url(img/2.png);
}
.slider__img--two {
    background-image: url(img/menu_cake.png);
}
.slider__img--three {
    background-image: url(img/8.png);
}
.slider__desc-container {
    width: calc(1000px + 50vw);
    margin-right: -1000px;
    transform: skew(-50deg);
    /* background-color: #FDCBE2; */
    background-color: #1C2023;
    /* background-color: #23292E; */
    /* background-color: #fff; */
    /* #1C2023 */
}
.slider__desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: skew(50deg);
    font-size: 24px;
    color: #fff;
    margin-right: 1000px;
    text-align: center;
}
